.notification {
    visibility: hidden;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    font-size: 16px;
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 0;
}

.notification.show {
    visibility: visible;
    opacity: 1;
}

.password-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
}

.copy-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.copy-btn:hover {
    background-color: darkred;
}

.dark-mode {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}
